<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog System</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header>
           <div class="brand">
            <div class="logo">
                <img src="/images/logo.png" height="100px" width="100px"/>
            </div>
            <h1>Moment of Truth</h1>
           </div>
           <div class="nav">
               <a class="nav-links" href="/">Home</a>
               <a class="nav-links" href="/">About</a>
               <a class="nav-links" href="/">Team</a>
               <a class="nav-links" href="/">Contact</a>
           </div>
        </header>
        <div class="hero">
            <p class="hero-text">
            </p>
        </div>
        
        <div>
            <h1 class="article-title">Title</h1>
            <a href="/articles/new" class="btn">New Article</a>
            <h1>Post</h1>
        </div>
        <footer class="footer">
            <p>&copy; Copyright  2021. Conestoga College.</p>
        </footer>
    </div>
</body>
</html>